@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

.contact-h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 64px;
    padding-top: 40px;
}

.contact-block {
    width: 1360px;
    height: 376px;
}

.contacts-one {
    display: flex;
    height: 150px;
    margin: 32px 0 20px 0;
}

.contacts-two {
    display: flex;
    height: 194px;
    margin: 32px 0 20px 0;
}

.contact-first-block {
    width: 780px;
    padding: 32px;
    background: rgb(241, 243, 244);
    border-radius: 12px;
    margin-right: 20px;
}

.contact-second-block {
    width: 548px;
    padding: 32px;
    background-color: rgb(241, 243, 244);
    border-radius: 12px;
}

.contact-p {
    width: 154px;
    height: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(139, 139, 139);
}

.contact-h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.contact-icon {
    display: flex;
}

.cont-icon {
    border: none;
    margin: 10px 16px 0 0;
    width: 43px;
    height: 44px;
}

.mapStyle {
    width: 1360px;
    height: 350px;
    margin: 32px 0;
}

.map {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: none;
}
